.paginationBtn{
    width: 100%;
    height:40%;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20;
}

.paginationBtn, a{
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    color: blue;
    cursor: pointer
}

.paginationActive{
    color: white;
    background-color: rgb(12, 192, 168);
}
